body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heart{
    background-color: #c1121f;
    width:100px;
    height: 100px;
    margin : 100px;
    
    animation: beat 1s infinite alternate;
}
button{
    height: 2em;
    width: 4em;
    background-color: pink;
    font-size: 16px;
    cursor: pointer;
}
#no{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    cursor: pointer;
}

.heart:before,
.heart:after{
    content : '';
    position: absolute;
    background-color: #c1121f;
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.heart:after{
    left: 50px;
    top:0;

}
.heart:before{
    top:-50px;
    left : 0;
}

@keyframes beat{
    0%{
        transform: scale(1) rotate(-45deg);
    }
    100%{
        transform: scale(1.5)  rotate(-45deg);
    }
}

@media (max-width:600px){
    h1{
        font-size: 25px;
    }
}